@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body
{
    background-color: #555;
    margin: auto;
    width: 70%;
    font-family: "Open Sans Condensed", sans-serif;
}

#header_logo
{
    float: left;
}

#header_title
{
    color: white;
    float: left;
    margin: 10px;
    font-size: 24px;
}

#header_user
{
    float: right;
    margin-top: 15px;
}

#header_user_info
{
    float: right;
}

#header_user_state
{
    color: white;
    text-shadow: 4px 4px 6px black;
}

#header_user_icon
{
    float: left;
}

main
{
    clear: both;
}

hr
{
    clear: both;
}

h2
{
    border: 1px solid #333333;
    border-radius: 7px;
    background: #444444 url("../images/ui-bg_highlight-soft_44_444444_1x100.png") repeat-x scroll 50% 50%;
    padding-left: 10px;
}

#account_form
{
    width: 55%;
    padding: 10px;
    border-radius: 10px;
    background: #000000 url("../images/ui-bg_loop_25_000000_21x21.png") repeat scroll 50% 50%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow: 5px 5px 7px #90D7E9;
}

.dialog_form div.form_label {
	display: inline-block;
	padding: 4px;
    width: 145px;
	
}

.dialog_form .form_field {
	display: inline-block;
	padding: 4px;
    width: 160px;
	
}

.dialog_form .form_label {
	text-align: right;
}

td
{
    border: 1px solid #009688;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

td.newsletter
{
    border: 0;
    padding: 0;
    text-align: left;
}

#newsletter_partners{
    margin-left: 20px;
}

#buttons_form
{
    margin-top: 25px;
    text-align: center;
}

.buttonForm{
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
    background: #222222 url("../images/ui-bg_highlight-soft_35_222222_1x100.png") repeat-x scroll 50% 50%;
    border: 1px solid #444444;
    color: #eeeeee;
    font-weight: normal;
    border-radius: 6px;
    width: 80px;
    height: 30px;
}

.buttonForm:hover{
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
    background: #222222 url("../images/ui-bg_highlight-hard_20_0972a5_1x100.png") repeat-x scroll 50% 50%;
    border: 1px solid #009688;
    color: #eeeeee;
    
}